/* ===== Base / Reset ===== */
*,
*::before,
*::after { box-sizing: border-box; }

html,
body {
  height: 100%;
  margin: 0;
  font-size: 15px;

  background-image: url(/IMAGES/ChatGPT\ Image\ Jan\ 17\,\ 2026\,\ 06_28_44\ PM.png);
}

/* ===== App Shell ===== */
.main-app {
  width: 100vw;
  height: 100vh;
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: stretch;
}

/* ===== Main Layout (black boxes) ===== */
.layout {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;

  display: grid;
  gap: 20px;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: repeat(9, 1fr);
  grid-template-areas:
    "tl r"
    "tl r"
    "tl r"
    "tl r"
    "tl r"
    "tl br"
    "tl br"
    "tl br"
    "tl bottom"
    "tl bottom";
}

.box {
  border: 1px solid white;
  border-radius: 10px;
  background-color: #212038;
}

.cell-attributes {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
}

input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  background: #2a3b55;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background:green;
  border: 2px solid #ffffff;

}




