/* ===== Right Grid ===== */
.tr-grid {
  width: 100%;
  height: 100%;

  display: grid;
  gap: 12px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.tr  { grid-area: r; padding: 16px; }

.tr-cell {
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  min-width: 0;
  min-height: 0;

  display: grid;
  grid-template-rows: .5fr 2fr 1fr;
}

.city-buff {
  display: flex;
  flex-direction: column;
}

.tr-input {
  width: 20%;
  height: 36px;

  border-radius: 6px;
  border: 1px solid #fff;
  background-color: #212038;
  color: #fff;

  text-align: center;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.15s ease, box-shadow 0.15s ease, border-color 0.15s ease;
}

.tr-input::-webkit-outer-spin-button,
.tr-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tr-input {
  -moz-appearance: textfield; /* Firefox */
}

.city-buff {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}